h5 Email:  #{email}
h5 Nombre:  #{nombre} 
h5 Apellido:  #{apellido}
h5 Direccion:  #{direccion}
h5 Edad:  #{edad}
h5 Telefono: +#{codPais}  #{telefono} 
img(src=`/${foto}` class="img-thumbnail" alt=email)
